//html03_03
$html3_03_bgColor: #DF566B;
$html3_03_header:#efacb6;
$html3_03_footer:#ae2137;

//html03_04
$html3_04_bgColor: #FFFFF0;
$html3_04_btnBg: #FFFFFF;
$html3_04_btnBorder: #999999;
$html3_04_btnRegistBg: #00a1b8;

//html03_05
$html3_05_planColor: #00796B;
$html3_05_specHeadBg: #00897B;
$html3_05_specLineOddBg: #F0F0F0;

//html03_06
$html3_06_bgColor: #b1a233;

// html3_07
$html3_07_bgColor: #fefefe;
$html3_07_mainColor: #ff3d3c;
$html3_07_ttl: 'Sawarabi Gothic', sans-serif;