doctype html
html(lang="en")
    head
        include _temp_p_head
        link(rel="stylesheet", href="css/sample10.css")
        title Document
    body 
        h1 見出し
        h1 見出しで表示
        .wrap 
            img(src="img/html3_07_main.jpg", alt="", srcset="img/html3_07_main-640.jpg 480w,img/html3_07_main.jpg" sizes="(max-width: 480px)480px,(min-width:481px)481px")

        
        include _temp_p_foot

