doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title sample04 
    body 
        h1 変数の利用

        p
            |同じ内容などを様々な場所に記述したり、あとで一括で変更したい場合、変数の利用が期待できます。
            br
            |- var 変数名 = 値

        p
            |変数とは、文字や数字などの値を一つの箇所に保存し管理する事が可能です。
            |javaScriptなど他の言語と同じくpugファイル内では変数を持つ事が可能です。 文字列などの場合は他言語と同じ様に（"）ダブルクオーテーションなどで囲う必要があります。
            |message変数の作成

        p
            |実際に変数を作成し表示してみましょう。
            |変数名messageを作成し、「HELLO!」と文字を代入し、h2要素に表示してみましょう。
            |属性への入力や文字と混同する場合は＃{変数名}で文字と変数の混在を防ぐことが可能です。
        -var message = "hello"
        h2 #{message}
        //- -var imgPath = "img/"
        //- img(src="img/")