doctype html
html(lang="en")
    head
        include _temp_p_head
        title Site 
        link(rel="stylesheet", href="css/sample09.css")
    body 
        h1 test 
        h2 スマートフォンだけ小見出しで表示

    include _temp_p_foot

        